/* NAV */
nav, .link-nav {
    display: flex;
}

nav {
    align-items: center;
}

#nav-mobile {
    height: 10vh;
    width: 100%;
    background-color: rgb(181, 181, 181);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu-mobile {
    margin-left: 10rem;
    position: relative;
    display: inline-block;
}

.icone-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.icone-mobile span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.links-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.links-menu a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.links-menu li {
    list-style: none;
}

.links-menu.ativo {
    max-height: 300px;
}

.icone-mobile.ativo span:first-child {
    transform: rotate(45deg) translate(10px, 5px)
}

.icone-mobile.ativo span:nth-child(2) {
    opacity: 0;
}

.icone-mobile.ativo span:last-child {
    transform: rotate(-45deg) translate(10px, -5px)
}

.icone-mobile span:first-child {
    transform: none;
}

.icone-mobile span:first-child {
    opacity: 1;
}

.icone-mobile span:first-child {
    transform: none;
}

/* SECTION */
#formulario {
    height: 90vh;
}

#caixaTitulo {
    padding-top: 4rem;
}

/* FORMULÁRIO */
.formulario {
    display: flex;
    padding: 5rem 7rem 0 7rem;
    flex-direction: column;
    justify-content: center;
}

#formulario p {
    margin-bottom: 0;
}

.descricao .input{
    height: 6.3rem;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
}
  
.col-esq, .col-dir {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.no-resize {
    resize: none; /* tira opção de mudar o tamanho do campo descrição */
}

.form-control:focus {
    border-color: rgb(53, 53, 53);
    box-shadow: 0 0 0 0.2rem rgba(71, 71, 71, 0.25);
}

.form-select:focus {
    border-color: rgb(53, 53, 53);
    box-shadow: 0 0 0 0.2rem rgba(71, 71, 71, 0.25);
}
  
/* BOTÕES */
.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-top: 7rem;
    margin-right: 7rem;
}
  
.botoes a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 10rem;
    background: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 0.14rem solid;
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms ease;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
}
  
.botoes a:hover {
    background-color: rgb(53, 53, 53);
    border: rgb(53, 53, 53) 0.14rem solid;
}
.botoes button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 10rem;
    background: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 0.14rem solid;
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms ease;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
}
  
.botoes button:hover {
    background-color: rgb(53, 53, 53);
    border: rgb(53, 53, 53) 0.14rem solid;
}

/* Botão VOLTAR alinhado à esquerda e afastado da borda */
.btn-voltar {
    float: left; /* Move o botão para o lado esquerdo */
    margin-left: 6rem; /* Adiciona espaçamento da borda esquerda */
    margin-right: auto; /* Garante que ele fique alinhado à esquerda */
}

/* ENVIO TESTE */
#envioTeste {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.opcional {
    text-align: center;
    color: rgb(204, 77, 77);
    font-size: 1.5rem;
}
  
#envioTeste #titulo {
    margin: 0;
}

.envio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-upload {
    height: 20rem;
    width: 20rem;
}

.input-upload {
    width: 30rem;
}

.erro {
    border: 2px solid red;
    background-color: #ffe6e6; /* Opcional: adiciona um fundo claro para destacar */
}


/* RESUMO DAS INFORMAÇÕES */
