header{
    background-color: #e48f4f;
    color: #5c3d2e;
}

footer{
    background-color: #e48f4f;
    color: #5c3d2e;
}

h1 {
    text-align: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#empresa-perfil-nome{
    color: #5c3d2e;
}

.vaga-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vaga-card h2 {
    margin-top: 0;
    color: #007bff;
}

.vaga-card p {
    margin: 8px 0;
}

.vaga-card button {
    margin: 5px 5px 0 0;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.editar {
    background-color: #ffc107;
    color: white;
}

button.excluir {
    background-color: #dc3545;
    color: white;
}

.btn-primary{
    background-color: #e48f4f;
}

.btn-primary:hover{
    background-color: #d85d0b;
}

.btn-outline{
    background-color: #8a9a5b;
    color: white;
    border-color: #f7f1e8;
}

.btn-outline:hover{
    background-color: #626d41;
}

.botoes-header{
    text-decoration: none;
}

#btn-editar-empresa{
    background-color: #e48f4f;
}

#btn-editar-empresa:hover{
    background-color: #944009;
}

.stat-value{
    color: #5c3d2e
}

.btn-secondary{
    background-color: #8a9a5b;
}